@page
@model ProiectPrelucaAnca.Pages.Angajati.EditModel

@{
    ViewData["Title"] = "Modifica Angajat";
}

<h1>Modifica</h1>

<h4>Angajat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Angajat.ID" />
            <div class="form-group">
                <label asp-for="Angajat.NumarCtr" class="control-label"></label>
                <input asp-for="Angajat.NumarCtr" class="form-control" />
                <span asp-validation-for="Angajat.NumarCtr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.Nume" class="control-label"></label>
                <input asp-for="Angajat.Nume" class="form-control" />
                <span asp-validation-for="Angajat.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.Prenume" class="control-label"></label>
                <input asp-for="Angajat.Prenume" class="form-control" />
                <span asp-validation-for="Angajat.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.DataNasterii" class="control-label"></label>
                <input asp-for="Angajat.DataNasterii" class="form-control" />
                <span asp-validation-for="Angajat.DataNasterii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.DataAngajare" class="control-label"></label>
                <input asp-for="Angajat.DataAngajare" class="form-control" />
                <span asp-validation-for="Angajat.DataAngajare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.Salariu" class="control-label"></label>
                <input asp-for="Angajat.Salariu" class="form-control" />
                <span asp-validation-for="Angajat.Salariu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.LocalitateID" class="control-label"></label>
                <select asp-for="Angajat.LocalitateID" class="form-control" asp-items="ViewBag.LocalitateID"></select>
                <span asp-validation-for="Angajat.LocalitateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.DepartamentID" class="control-label"></label>
                <select asp-for="Angajat.DepartamentID" class="form-control" asp-items="ViewBag.DepartamentID"></select>
                <span asp-validation-for="Angajat.DepartamentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajat.FunctieID" class="control-label"></label>
                <select asp-for="Angajat.FunctieID" class="form-control" asp-items="ViewBag.FunctieID"></select>
                <span asp-validation-for="Angajat.FunctieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salveaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Inapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
